*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size:45;
}
:root {
    --primary: #fcfcfc;
    --secondary: #c6a6f2;
    --ternary: #af82ed;
}
h1{
    color: var(--ternary);
    text-align: center;
}
body{
    background-color: var(--primary);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.password{
    gap:0px
}
input{
    cursor: pointer;
}
#password{
    background-color: var(--primary);
    padding: 3px;
    padding-left: 10px;
    padding-right: 8px;
    border-radius:20px 0 0 20px ;
}
#cpy{
    background-color: var(--primary);
    cursor: pointer;
    border-left: 1px solid var(--ternary);
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius:0 20px 20px 0 ;
    transition: all 0.1s ease;
}
#cpy:hover{
    color: var(--ternary);
}
#btn{
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 1px solid var(--ternary);
    transition: all 0.1s ease;
}
#btn:hover{
    background-color: var(--ternary);
    color: var(--primary);
}
